body{
    background-image: url("../img/Retro\ Wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

#RenderContainer{
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100vh;
}

#carouselExampleCaptions{
    position: fixed;
    width: 100%;
    height: 100vh;
}

.carousel-text{
    height: 20vh;
    color: whitesmoke;
    text-align: center;
    margin-top: 60vh;
    margin-bottom: 20vh;
}